.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 10%;

}

.enterButton {
    cursor: pointer;
    border: none;
    border-radius: 100%;
    font-size: 250%;
    margin-left: 8%;
    color: black;
    background: white;
    transition: 1s;
}
.enterButton:hover {
    border: none;
    border-radius: 100%;
    font-size: 270%;
    color: black;
    text-shadow: 10px 3px 10px #a4a3a3;
}
.discoverContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 2;
    margin-left: 5%;
}
.mainContainer div img {
    min-width: 800px;
    max-height: 350px;


}

.landing-button-message {
    margin-top: 3%;
    margin-left: 3%;
    font-family: 'Libre Caslon Display', serif;
}
cite {
  font-size: 90%;

    margin-top: 3%;

}

.slider {
    max-width: 55%;
    margin-left: 3%;


}


